<div class="col-md-8">

<div class="col-md-4" ng-if="!formshow" style="border-style: dotted;">
    <h2>free access mode</h2>
<p class="text-center"><button class="btn btn-default btn-large" 
           ><a ui-sref="addproducts">create catalogue</a></button></p>
    <br><br>
</div>
    
    

    
    
<div class="col-md-4" ng-if="!formshow">
<h4 class="text-left">free access package</h4>
<ul>
    <li>limited products and services</li>
    <li>share with social networks</li>
    <li>free product or services analytics</li>
    <li>push notifications to keep you updated</li>
    </ul> 
</div>
<div class="col-md-4" ng-if="!formshow" style="border-left-style: dotted; border-left-color: #ff0000">
<h4 class="text-right">golden access package</h4>
<ul>
    <li>full products and services<p class="text-right" style="color: red;">P5/month</p></li>
    <li>share with social networks<p class="text-right" style="color: red;">free</p></li>
    <li>full product or services analytics<p class="text-right" style="color: red;">P5/month</p></li>
    <li>push notifications to keep you updated<p class="text-right" style="color: red;">free</p></li>
    </ul> 
    <h5 class="text-center"><a>register now</a></h5>
</div>
</div>
   