

<div class="col-md-4 col-sm-12">
</div>
<div class="col-md-4 col-sm-12" style=" margin-top: 50px; margin-left: 20px;
                                                                      margin-right: 20px;
                                                                      border-style: dotted; border-color: blue">
    <h2 class="text-center">Sign in</h2>
<input class="form-control" placeholder="email" required type="text" ng-model="login.email" ><br>
<input class="form-control" placeholder="password" required type="password" ng-model="login.password"><br>
    <p class="text-center"><button class="btn btn-medium btn-primary" type="submit"
                                   ng-click="loguserIn()">sign in</button></p>
</div>
